<div class="container">
  <div class="row">
    <div class="col">
      <!--COLUMNA VACIA-->
    </div>

    <div class="col">
      <form [formGroup]="form" novalidate>
      <div class="text-center contenedorLogin">
        <div>
          <form>
            <img class="mb-4" src="https://cdn.pixabay.com/photo/2020/12/09/16/40/doctor-5817903_960_720.png" alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">INGRESAR</h1>

            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="nombre@correo.com" formControlName="correo">
              <label for="floatingInput">Correo</label>

              <div class="error" *ngIf="form.get('correo').errors && form.get('correo').touched">
                <p *ngIf="form.get('correo').hasError('required')">
                  Es un campo requerido. <br>
                </p>
                <p *ngIf="form.get('correo').hasError('email')">
                  Correo no valido. <br>
                </p>
              </div>
            </div>
            <br>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="contraseña" formControlName="password">
              <label for="floatingPassword">Contraseña</label>

              <div class="error" *ngIf="form.get('password').errors && form.get('password').touched">
                <p *ngIf="form.get('password').hasError('required')">
                  Es un campo requerido. <br>
                </p>
                <p *ngIf="form.get('password').hasError('maxlength')">
                  Te pasaste, la contraseña debe ser de al menos 20 caracteres. <br>
                </p>
                <p *ngIf="form.get('password').hasError('minlength')">
                  Por favor, una contraseña minima de 6 caracteres. <br>
                </p>
              </div>
            </div>

            <div *ngIf="this.errorCuenta">
              <br>
              <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">ERROR</a>. Verifique datos o <a href="#"
                  class="alert-link">registresé</a> si no poseé una cuenta.
              </div>
            </div>

            <br>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" [checked]="this.cRecordar" (change)="this.cRecordar = !this.cRecordar"> Recordarme <br>
              </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="Ingresar($event)">Ingresar</button><br><br>
            <button class="w-100 btn btn-lg btn-danger" type="submit" (click)="Ir('bienvenido')">Volver</button>

          </form>
        </div>
      </div>
      </form>
    </div>

    <div class="col">
      <!--COLUMNA VACIA-->
    </div>
  </div>

  <br><br>

</div>
<button class="botonTest" [@animacionBoton]='this.estadoAnimacion' (click)="VerUsuariosTest()">USUARIOS TEST</button>

<div [@animacionUsuariosTest] class="centrar" *ngIf="this.verUsuariosTest">
  <div class="row" style="width: 100%;">
    <div class="col">
      <app-card-paciente [paciente]='this.Paciente1' [numero]='1' (outPut_Correo)='GetCorreoCard($event)'></app-card-paciente>
    </div>
    <div class="col">
      <app-card-paciente [paciente]='this.Paciente2' [numero]='2' (outPut_Correo)='GetCorreoCard($event)'></app-card-paciente>
    </div>
    <div class="col">
      <app-card-profesional [profesional]='this.Admin' [numero]='1' (outPut_Correo)='GetCorreoCard($event)'></app-card-profesional>
    </div>
    <div class="col">
      <app-card-profesional [profesional]='this.Profesional1' [numero]='2' (outPut_Correo)='GetCorreoCard($event)'></app-card-profesional>
    </div>
    <div class="col">
      <app-card-profesional [profesional]='this.Profesional2' [numero]='2' (outPut_Correo)='GetCorreoCard($event)'></app-card-profesional>
    </div>
  </div>
</div>
