<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer"><strong>MIS TURNOS</strong></a>
    <div>
      <div class="d-flex">
        <button class="btn btn-outline-warning" (click)='VolverPaciente()'><strong>VOLVER</strong></button>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="this.verTabla">
  <div style="margin-top: 5%; text-align: center;">
    <h1>GESTIONAR TURNOS</h1>
  </div>
  <br>
  <br>
  <div class="filtro">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default"><strong>FILTRAR</strong></span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" [(ngModel)]='this.filterPost' name="filterPost">
    </div>
  </div>

  <div style="margin: 2%;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">PROFESIONAL</th>
          <th scope="col">ÁREA</th>
          <th scope="col">FECHA DE TURNO</th>
          <th scope="col">ESTADO</th>
          <th scope="col">ACCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.listaDOM | filterUsuario:this.filterPost; let i=index ">
          <th scope="row">{{i+1}}</th>
          <td>{{item.profesional.apellido}}, {{item.profesional.nombre}}</td>
          <td>{{item.turno.area}}</td>
          <td>{{item.turno.fecha}} {{item.turno.hora}}</td>
          <td *ngIf="item.turno.estado == 'PENDIENTE'"><span
              class="badge bg-warning text-dark">{{item.turno.estado}}</span></td>
          <td *ngIf="item.turno.estado == 'ACEPTADO'"><span class="badge bg-success">{{item.turno.estado}}</span></td>
          <td *ngIf="item.turno.estado == 'CANCELADO'"><span class="badge bg-danger">{{item.turno.estado}}</span></td>
          <td *ngIf="item.turno.estado == 'RECHAZADO'"><span class="badge bg-danger">{{item.turno.estado}}</span></td>
          <td *ngIf="item.turno.estado == 'FINALIZADO'"><span
              class="badge bg-info text-dark">{{item.turno.estado}}</span></td>

          <td>
            <ng-container *ngIf="item.turno.estado == 'PENDIENTE' || item.turno.estado == 'ACEPTADO';">
              <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                title="CANCELAR" style="margin-left: 0.5%;" (click)="Cancelar(item)">
                <img src={{this.iconoCancelar}} style="width: 25px; height: 25px;">
              </button>
            </ng-container>

            <ng-container *ngIf="item.turno.comentarioPaciente != '' || item.turno.comentarioProfesional != '';">
              <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                title="VER RESEÑA" style="margin-left: 0.5%;" (click)="Resenia(item)">
                <img src={{this.iconoResenia}} style="width: 25px; height: 25px;">
              </button>
            </ng-container>

            <ng-container
              *ngIf="item.turno.estado == 'FINALIZADO' && (item.turno.comentarioPaciente != '' || item.turno.comentarioProfesional != '') && item.turno.encuesta.atencionRecibida == '';">
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
                title="REALIZAR ENCUESTA" style="margin-left: 0.5%;" (click)="Encuesta(item)">
                <img src={{this.iconoEncuesta}} style="width: 25px; height: 25px;">
              </button>
            </ng-container>

            <ng-container *ngIf="item.turno.comentarioPaciente == '';">
              <ng-container *ngIf="item.turno.estado == 'FINALIZADO';">
                <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="CALIFICAR ATENCIÓN" style="margin-left: 0.5%;" (click)="Atencion(item)">
                  <img src={{this.iconoCalificar}} style="width: 25px; height: 25px;">
                </button>
              </ng-container>
            </ng-container>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="verCancelarTurno">
  <app-confirmar-con-mensaje [Titulo]="'CANCELAR'" [subTitulo]="'DEJAR LA CAUSA POR LA CUAL SE CANCELA EL TURNO'"
    (eOpcion)="eventCancelarTurno($event)" (eMensaje)="setMsj($event)"></app-confirmar-con-mensaje>
</div>

<div *ngIf="verReseniaTurno">
  <app-mostrar-informacion-de-turno [Titulo]="'RESEÑA'" [subTitulo]="'OBSERVACIONES'" [Turno]='this.itemActual.turno'
    (eOpcion)="eventReseniaTurno($event)"></app-mostrar-informacion-de-turno>
</div>

<div *ngIf="verAtencionTurno">
  <app-confirmar-con-mensaje [Titulo]="'DEJAR LA ATENCIÓN RECIBIDA de'"
    [subTitulo]="'DEJAR LA ATENCIÓN RECIBIDA POR EL PROFESIONAL'" (eOpcion)="eventAtencionTurno($event)"
    (eMensaje)="setMsj($event)"></app-confirmar-con-mensaje>
</div>

<div *ngIf="verEncuestaTurno">
  <app-encuesta-paciente (eOpcion)="eventEncuestaTurno($event)" (eMensaje)="GetEncuesta($event)">
  </app-encuesta-paciente>
</div>
