<div class="contenedor">
  <div style="margin-top: 5%; position: relative; overflow: hidden;" [@animacionMenu]>

    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="card" style="width: 50rem; text-align: center;">
          <h3>¿Seguro que desea <strong>{{this.Titulo}}</strong> el turno?</h3>
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">{{this.subTitulo}}</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="msj"
                [(ngModel)]='this.msj'></textarea>
            </div>
            <p *ngIf="this.eMsj"><strong>ERROR</strong> No debe estar vacio.</p><br>
            <!-- DIAGNOSTICO -->
            <h4><strong>DIAGNÓSTICO</strong></h4><br>
            <strong>DATOS</strong><br>
            <div class="row">
              <div class="col">
                <span>ALTURA </span>
                <input type="number" id="tentacles" name="tentacles" min="0.1" max="3" step="0.1" value="1.8" style="color: blue;" [(ngModel)]="this.vAltura">
                <span> PESO </span>
                <input type="number" id="tentacles" name="tentacles" min="1" max="200" step="0.1" value="80" style="color: blue;" [(ngModel)]="this.vPeso">
              </div>
              <div class="col">
                <span>TEMP </span>
                <input type="number" id="tentacles" name="tentacles" min="35" max="41" step="0.1" value="36.5" style="color: blue;" [(ngModel)]="this.vTemperatura">
                <span> PRESIÓN </span>
                <input type="number" id="tentacles" name="tentacles" min="60" max="180" step="1" value="80" style="color: blue;" [(ngModel)]="this.vPresion">
              </div>
            </div>
            <br>
            <strong>OTRAS OBSERVACIONES</strong>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="DATO 1" aria-label="First name" style="margin: 1.5%;" [(ngModel)]="this.vDato1">
                <p *ngIf="this.eDato1"><strong>DATO 1</strong> Vacio.</p>
                <input type="text" class="form-control" placeholder="DATO 2" aria-label="First name" style="margin: 1.5%;" [(ngModel)]="this.vDato2">
                <p *ngIf="this.eDato2"><strong>DATO 2</strong> Vacio.</p>
                <input type="text" class="form-control" placeholder="DATO 3" aria-label="First name" style="margin: 1.5%;" [(ngModel)]="this.vDato3">
                <p *ngIf="this.eDato3"><strong>DATO 3</strong> Vacio.</p>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="DESCRIPCIÓN 1" aria-label="Last name" style="margin: 1.5%;" [(ngModel)]="this.vDescripcion1">
                <p *ngIf="this.eDescripcion1"><strong>DESCRIPCION 1</strong> Vacia.</p>
                <input type="text" class="form-control" placeholder="DESCRIPCIÓN 2" aria-label="Last name" style="margin: 1.5%;" [(ngModel)]="this.vDescripcion2">
                <p *ngIf="this.eDescripcion2"><strong>DESCRIPCION 2</strong> Vacia.</p>
                <input type="text" class="form-control" placeholder="DESCRIPCIÓN 3" aria-label="Last name" style="margin: 1.5%;" [(ngModel)]="this.vDescripcion3">
                <p *ngIf="this.eDescripcion3"><strong>DESCRIPCION 3</strong> Vacia.</p>
              </div>
            </div>
            <!-- FIN DIAGNOSTICO-->

            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-success" type="button" (click)="Confirmar(true)">CONTINUAR</button>
              <button class="btn btn-danger" type="button" (click)="Confirmar(false)">CANCELAR</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
