<span [ngSwitch]="this.tipoUsuario">
  <h1 style="text-align: center; margin-top: 5%;">HISTORIAS CLÍNICAS</h1><br><br>

  <div *ngSwitchCase="'PACIENTE'">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="cursor: pointer"><strong>HISTORIAL</strong></a>
        <div>
          <div class="d-flex">
            <button class="btn btn-outline-warning"
              (click)="Volver('/paciente/mi-perfil')"><strong>VOLVER</strong></button>
          </div>
        </div>
      </div>
    </nav>

    <table id="htmlData" class="table" style="width: 70vw; margin-left: 15vw;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">PROFESIONAL</th>
          <th scope="col">FECHA/HORA</th>
          <th scope="col">AREA</th>
          <th scope="col">ACCION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of this.listaAux; let i=index">
          <td>{{i+1}}</td>
          <td>{{t.profesional.apellido}}, {{t.profesional.nombre}}</td>
          <td>{{t.turno.fecha}} {{t.turno.hora}}</td>
          <td>{{t.turno.area}}</td>
          <td>
            <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
              title="VER HISTORIA CLÍNICA" style="margin-left: 0.5%;"
              (click)="VerHistoriaClinica(t.turno.historiaClinica)">
              <img src={{this.iconoHistoriaClinica}} style="width: 25px; height: 25px;">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngSwitchCase="'PROFESIONAL'">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="cursor: pointer"><strong>HISTORIAL</strong></a>
        <div>
          <div class="d-flex">
            <button class="btn btn-outline-warning"
              (click)="Volver('/profesional/mi-perfil')"><strong>VOLVER</strong></button>
          </div>
        </div>
      </div>
    </nav>

    <div style="display: flex; justify-content: space-around;" *ngIf="this.verFolder == true">
      <span *ngFor="let item of this.listaAuxFiltro2">
        <div class="card" style="width: 18rem;">
          <img src={{item.paciente.foto1}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{item.paciente.apellido}}, {{item.paciente.nombre}}</h5>
            <p class="card-text">Ultimas 3 atenciones, click en MÁS para ver historial clínico.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngIf="item.t.a != false; else itemFalse" class="list-group-item">
              <div class="row">
                <div class="col" style="display: flex;">
                  <img src={{this.imgDentista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area == 'DENTISTA'">
                  <img src={{this.imgOculista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area == 'OCULISTA'">
                  <img src={{this.imgClinico}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area == 'CLINICO'">
                  <img src={{this.imgGeneral}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area != 'DENTISTA' && item.t.a.area != 'CLINICO' && item.t.a.area != 'OCULISTA'">

                  <strong> {{item.t.a.area}}</strong>
                </div>
                <div class="col">
                  {{item.t.a.fecha}} {{item.t.a.hora}} HS.
                </div>
              </div>
            </li>
            <li *ngIf="item.t.b != false; else itemFalse" class="list-group-item">
              <div class="row">
                <div class="col" style="display: flex;">
                  <img src={{this.imgDentista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area == 'DENTISTA'">
                  <img src={{this.imgOculista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area == 'OCULISTA'">
                  <img src={{this.imgClinico}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area == 'CLINICO'">
                  <img src={{this.imgGeneral}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area != 'DENTISTA' && item.t.b.area != 'CLINICO' && item.t.b.area != 'OCULISTA'">

                  <strong> {{item.t.b.area}}</strong>
                </div>
                <div class="col">
                  {{item.t.b.fecha}} {{item.t.b.hora}} HS.
                </div>
              </div>
            </li>
            <li *ngIf="item.t.c != false; else itemFalse" class="list-group-item">
              <div class="row">
                <div class="col" style="display: flex;">
                  <img src={{this.imgDentista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area == 'DENTISTA'">
                  <img src={{this.imgOculista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area == 'OCULISTA'">
                  <img src={{this.imgClinico}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area == 'CLINICO'">
                  <img src={{this.imgGeneral}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area != 'DENTISTA' && item.t.c.area != 'CLINICO' && item.t.c.area != 'OCULISTA'">

                  <strong> {{item.t.c.area}}</strong>
                </div>
                <div class="col">
                  {{item.t.c.fecha}} {{item.t.c.hora}} HS.
                </div>
              </div>
            </li>

            <ng-template #itemFalse>
              <li class="list-group-item" style="text-align: center;"><strong>N/A</strong><br><br></li>
            </ng-template>

          </ul>
          <div class="card-body">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
                title="VER HISTORIAS CLÍNICAS" id="btn" name="btn" (click)="Filtrar(item.paciente)">MÁS</button>
            </div>


          </div>
        </div>
      </span>
    </div>
    <div *ngIf="this.verFolder == false">
      <div class="modalDialog">
        <div class="card estiloTabla">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">PACIENTE</th>
                  <th scope="col">FECHA/HORA</th>
                  <th scope="col">AREA</th>
                  <th scope="col">ACCION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of this.listaAuxTurno; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{t.paciente.apellido}}, {{t.paciente.nombre}}</td>
                  <td>{{t.turno.fecha}} {{t.turno.hora}}</td>
                  <td>{{t.turno.area}}</td>
                  <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="VER HISTORIA CLÍNICA" style="margin-left: 0.5%;"
                      (click)="VerHistoriaClinica(t.turno.historiaClinica)">
                      <img src={{this.iconoHistoriaClinica}} style="width: 25px; height: 25px;">
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br><br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-danger" type="button" (click)="Cerrar()">CERRAR</button>
        </div>
      </div>
    </div>

  </div>

  <div *ngSwitchCase="'ADMIN'">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="cursor: pointer"><strong>HISTORIAL</strong></a>
        <div>
          <div class="d-flex">
            <button class="btn btn-outline-warning"
              (click)="Volver('/admin/mi-perfil')"><strong>VOLVER</strong></button>
          </div>
        </div>
      </div>
    </nav>

    <div style="display: flex; justify-content: space-around;" *ngIf="this.verFolder == true">

      <span *ngFor="let item of this.listaAuxFiltro2">
        <div class="card" style="width: 18rem;">
          <img src={{item.paciente.foto1}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{item.paciente.apellido}}, {{item.paciente.nombre}}</h5>
            <p class="card-text">Ultimas 3 atenciones, click en MÁS para ver historial clínico.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li *ngIf="item.t.a != false; else itemFalse" class="list-group-item">
              <div class="row">
                <div class="col" style="display: flex;">
                  <img src={{this.imgDentista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area == 'DENTISTA'">
                  <img src={{this.imgOculista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area == 'OCULISTA'">
                  <img src={{this.imgClinico}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area == 'CLINICO'">
                  <img src={{this.imgGeneral}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.a.area != 'DENTISTA' && item.t.a.area != 'CLINICO' && item.t.a.area != 'OCULISTA'">

                  <strong> {{item.t.a.area}}</strong>
                </div>
                <div class="col">
                  {{item.t.a.fecha}} {{item.t.a.hora}} HS.
                </div>
              </div>
            </li>
            <li *ngIf="item.t.b != false; else itemFalse" class="list-group-item">
              <div class="row">
                <div class="col" style="display: flex;">
                  <img src={{this.imgDentista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area == 'DENTISTA'">
                  <img src={{this.imgOculista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area == 'OCULISTA'">
                  <img src={{this.imgClinico}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area == 'CLINICO'">
                  <img src={{this.imgGeneral}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.b.area != 'DENTISTA' && item.t.b.area != 'CLINICO' && item.t.b.area != 'OCULISTA'">

                  <strong> {{item.t.b.area}}</strong>
                </div>
                <div class="col">
                  {{item.t.b.fecha}} {{item.t.b.hora}} HS.
                </div>
              </div>
            </li>
            <li *ngIf="item.t.c != false; else itemFalse" class="list-group-item">
              <div class="row">
                <div class="col" style="display: flex;">
                  <img src={{this.imgDentista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area == 'DENTISTA'">
                  <img src={{this.imgOculista}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area == 'OCULISTA'">
                  <img src={{this.imgClinico}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area == 'CLINICO'">
                  <img src={{this.imgGeneral}} class="rounded-circle border border-info" width="50" height="50"
                    *ngIf="item.t.c.area != 'DENTISTA' && item.t.c.area != 'CLINICO' && item.t.c.area != 'OCULISTA'">

                  <strong> {{item.t.c.area}}</strong>
                </div>
                <div class="col">
                  {{item.t.c.fecha}} {{item.t.c.hora}} HS.
                </div>
              </div>
            </li>

            <ng-template #itemFalse>
              <li class="list-group-item" style="text-align: center;"><strong>N/A</strong><br><br></li>
            </ng-template>

          </ul>
          <div class="card-body">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
                title="VER HISTORIAS CLÍNICAS" id="btn" name="btn" (click)="Filtrar(item.paciente)">MÁS</button>
            </div>


          </div>
        </div>
      </span>

    </div>

    <div *ngIf="this.verFolder == false">
      <div class="modalDialog">
        <div class="card estiloTabla">
          <div class="card-body">
            <table class="table ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">PACIENTE</th>
                  <th scope="col">PROFESIONAL</th>
                  <th scope="col">FECHA/HORA</th>
                  <th scope="col">AREA</th>
                  <th scope="col">ACCION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of this.listaAuxTurno; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{t.paciente.apellido}}, {{t.paciente.nombre}}</td>
                  <td>{{t.profesional.apellido}}, {{t.profesional.nombre}}</td>
                  <td>{{t.turno.fecha}} {{t.turno.hora}}</td>
                  <td>{{t.turno.area}}</td>
                  <td>
                    <button type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="VER HISTORIA CLÍNICA" style="margin-left: 0.5%;"
                      (click)="VerHistoriaClinica(t.turno.historiaClinica)">
                      <img src={{this.iconoHistoriaClinica}} style="width: 25px; height: 25px;">
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br><br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-danger" type="button" (click)="Cerrar()">CERRAR</button>
        </div>
      </div>
    </div>
  </div>
</span>

<div *ngIf="this.verComponentHistoria">
  <app-ver-historia-clinica [hClinica]='this.item' (Ver)="CerrarHistoriaClinica($event)"></app-ver-historia-clinica>
</div>
