<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand itemLink" (click)="Select('INICIO')"><strong>ADMINISTRADOR</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link itemLink" aria-current="page" (click)="Select('HABILITAR')"> Habilitar Acceso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link itemLink" aria-current="page" (click)="Select('INHABILITAR')"> Inhabilitar Acceso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link itemLink" aria-current="page" (click)="Select('ALTA')">Alta de Usuarios</a>
        </li>
      </ul>

      <div class="d-flex">
        <button class="btn btn-outline-warning" (click)='Volver()'><strong>VOLVER</strong></button>
      </div>
    </div>
  </div>
</nav>
