<div class="container py-4">
  <div class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src={{this.pathIcon}} alt="">
      <span class="fs-4">CLÍNICA ONLINE</span>
    </a>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">BIENVENIDO</h1>
      <p class="col-md-8 fs-4">Generamos encuentros inmediatos entre profesionales de la salud y personas que buscan cuidar la vida. A través de una plataforma digital de telemedicina, propiciamos el incremento de la prevención de enfermedades y el correcto seguimiento de sus tratamientos.</p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>INGRESAR</h2>
        <p>Llevá tranquilidad a tu familia solicitando atenciones inmediatas o programando turnos con tu profesional de confianza.</p>
        <button class="btn btn-outline-light" type="button" (click)="Ir('ingreso')">CLICK PARA INGRESAR</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>REGISTRO</h2>
        <p><strong>¿Sos Médico?</strong> Podés ser parte de nuestra comunidad de médicos online. Más profesionales ya lo hicieron... <br>
          <strong>¿Sos Paciente?</strong> Registrate y consultá con nuestros expertos sin moverte de tu casa. Profesionales están listos para atenderte.
        </p>
        <button class="btn btn-outline-secondary" type="button" (click)="Ir('registro')">CLICK PARA REGISTRARSE</button>
      </div>
    </div>
  </div>
</div>
