<div class="row" style="width: 50%;">
  <div class="col">
    <app-card-paciente [paciente]='this.Paciente1' [numero]='1' (outPut_Correo)='this.correoHardcodeo'></app-card-paciente>
  </div>
  <div class="col">
    <app-card-paciente [paciente]='this.Paciente2' [numero]='2' (outPut_Correo)='this.correoHardcodeo'></app-card-paciente>
  </div>
  <div class="col">
    <app-card-profesional [profesional]='this.Admin' [numero]='1' (outPut_Correo)='this.correoHardcodeo'></app-card-profesional>
  </div>
  <div class="col">
    <app-card-profesional [profesional]='this.Profesional1' [numero]='2' (outPut_Correo)='this.correoHardcodeo'></app-card-profesional>
  </div>
  <div class="col">
    <app-card-profesional [profesional]='this.Profesional2' [numero]='2' (outPut_Correo)='this.correoHardcodeo'></app-card-profesional>
  </div>
</div>
